
<img src="/public/images/AplicaLogo.jpeg" alt="applica Logo">

<h1>Se esta construyendo algo genial</h1>

<form action="/ngo/add" method = "POST">
<label for="ngoName">Nombre de la nueva NGO</label>
<input type="text" name="ngoName">

<label for="description">Descripción</label>
<input type="text" name="description">

<label for="location">Sede</label>
<input type="text" name="location">

<label for="activities">Actividades</label>
<input type="text" name="activities">

<label for="since">Año de Fundación</label>
<input type="text" name="since">


<button type="submit">Enviar</button>

</form>