<h1>Organizaciones Disponibles</h1>

<div class = "ngoCard">
    {{#each ngo}}
        <h3>{{this.ngoName}}</h3>
        <h5>Description: {{this.description}}</h5>
        <h6>Rep: {{this.rep}}</h6>
        <h6> Location: {{this.location}}</h6>
    {{/each}}
</div>